<!DOCTYPE html>
<html>

<head>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="关键词" />
	    <meta name="description" content="描述">
		<title>关于我们</title>
	</head>

	<body>
		<input type="hidden" name="pageName" value="about"/>
		 <!-- 资源加载防止白屏 -->
	    <div class="loading-container">
	        <div class="loader"></div>
	    </div>
	    <div class="container">
	    	<%= require('../includes/header.tpl')  %>
	    	<div class="about wrap">
	    		<div class="title">关于我们</div>
	    		<div class="contents">
	    			<p>雨果网于2013年4月15日正式上线，目前已成为中国跨境电商智能服务第一平台。也是亚马逊全球开店、阿里巴巴·速卖通、天猫国际、京东全球购、eBay、Wish、paytm等全球著名电商平台的核心合作伙伴，聚集涵盖了DHL、Ups、顺丰国际、Paypal、Payoneer、Google、Facebook、Bing等全球物流、全球收付款及全球流量巨头的众多跨境电商服务企业，是跨境电商服务链条相关企业进行全球转型的首选渠道。</p>
	    			<p>雨果网肩负着“帮助全球中小企业做好跨境生意”的使命，专注于跨境出口电 商、跨境进口电商、传统外贸、跨境选品、国际市场的内容资讯及海外营销，其影 响力覆盖中国跨境电商领域所有企业。</p>
            		<p>
                		<b>内容合作：</b><a href="mailto:editor@cifnews.com">editor@cifnews.com</a>；
            		</p>
            		<p>
                		<b>商务及广告合作：</b><a href="mailto:business@cifnews.com">business@cifnews.com</a>；
            		</p>
	    		</div>
	    	</div>
	    	<%= require('../includes/footer.tpl')  %>
	    </div>
	</body>
</html>
