<!DOCTYPE html>
<html>

<head>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="关键词" />
	    <meta name="description" content="描述">
		<title>售后服务</title>
	</head>

	<body>
		<input type="hidden" name="pageName" value="after-sale"/>
		 <!-- 资源加载防止白屏 -->
	    <div class="loading-container">
	        <div class="loader"></div>
	    </div>
	    <div class="container">
	    	<%= require('../includes/header.tpl')  %>
	    	<div class="after-sale wrap">
	            <div class="title">售后服务</div>
	            <div class="contents">
	            	<div class="sub-title">1.服务承诺</div>
	            	<div class="info">
	            		<p>在JK724购买的商品（海淘商品除外），自收货之日起，30天内可以无任何理由退换未拆封的商品，并获得全额退款，退换货运费由JK724补贴。</p>
	            		<p>海淘商品由于需要海关通关的手续和时间，仅支持7天内退货。</p>
	            		<p>以下情况除外：</p>
	            		<p>（1）已拆封或已使用、退货时资料/配件不全（如包装、吊牌、说明书、配件）等影响二次销售的商品。</p>
	            		<p>（2）直接接触人体皮肤的商品，如化妆品、个人护理品、卫生用品等。</p>
	            		<p>（3）任何非JK724出售的商品（序列号不符）。</p>
	            	</div>
	            	<div class="sub-title">2.退换货服务</div>
	            	<div class="info">
	            		<p>可直接联系JK724客服，客服电话4000592724</p>
	            		<p>退货成功后，JK724会在5个工作日内将您最终实际支付的货款金额（扣除优惠）返还到您的原支付账户。</p>
	            		<p>退换货注意事项：</p>
	            		<p>（1）请确认商品符合退货政策，以免退货失败；</p>
	            		<p>（2）回寄请选择普通快递，请勿使用平邮；</p>
	            		<p>（3）满额减运费的订单，发生退货后订单金额不满免邮条件，仍需支付该次购物运费；</p>
	            		<p>（4）退回商品时，请务必将运输单连同商品一起寄回，否则将无法为您办理退货，敬请理解！</p>
	            		<p>（5）若用户购买时有申请发票，请将发票要随商品一起寄回，谢谢！</p>
	            	</div>
	            	<div class="sub-title">3.售后咨询</div>
	            	<div class="info">
	            		<p>（1）724订单什么时候发货？大概多长时间可以收到货？</p>
	            		<p>正常情况下您的订单将在6小时内发出（最晚不超过1个工作日）。发货之后，您可以在我的订单中可以查看发货状态。由于快递公司可能无法实时更新信息，因此您看到的发货情况可能有一定延迟。</p>
	            		<p>（2）为什么后下的订单，先收到了，之前下的订单还没有收到？你们是按什么顺序发货的？</p>
	            		<p>为了单位时间内以最快速度处理尽量多订单，724会适当综合按订单里货品配货的情况安排发货顺序，因此可能会出现订单发货和下单顺序不完全一致的情况。我们会尽一切努力为您尽快发货。</p>
	            		<p>（3）发现漏发了或者错发，应该怎么办？</p>
	            		<p>请您先准备好漏发，错发的相关图片（拍摄图片），再通过在线客服核实，我们需要进行确认，待客服确认后会进行补发或退款。</p>
	            		<p>（4）发现漏发了或者错发，应该怎么办？</p>
	            		<p>订单生成后，我们将根据您所填写的地址自动匹配当地运营较好的快递公司。一般情况下，收费标准为：快递5元， EMS邮费15元。以下情况可以免邮哟~ 对于订单金额满499国内包邮：</p>
	            	</div>
	            </div>
	    	</div>
	    	<%= require('../includes/footer.tpl')  %>
	    </div>
	</body>
</html>
