<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="关键词" />
	    <meta name="description" content="描述">
		<title>商品列表</title>
	</head>
	<body>
	    <!-- 资源加载防止白屏 -->
	    <div class="loading-container">
	        <div class="loader"></div>
	    </div>
	    <div class="container">
	    	<%= require('../includes/header.tpl') %>
	    	<div class="product-list-panel">
	    		<ul class="list-warp wrap">
	    			<li class="list-item">
	    				<div class="item-content">
	    					<div class="item-media">
	    						<div class="privew-img">
	    							<a href="/pages/product-details.html"><img src="<%=require('../assets/imgs/test/goods01.jpg')%>"/></a>
	    						</div>
	    						<div class="spec-scroll">
	    							<span class="prev">&lt;</span>
	    							<div class="sku-wrap">
										<ul>
											<li>
												<a class="active">
													<img width="25" height="25" src="//img13.360buyimg.com/n9/jfs/t17674/330/786006421/174444/15c0c319/5aa63f10N2d89730e.jpg">
												</a>
											</li>
										</ul>
									</div>
	    							<span class="next">&gt;</span>
	    						</div>
	    					</div>
					        <div class="item-inner">
					          	<div class="item-price">￥45</div>
					          	<div class="item-title">拜耳Bayer女性多种复合维生素50片</div>
					        </div>
	    				</div>
	    			</li>
	    			<li class="list-item">
	    				<div class="item-content">
	    					<div class="item-media">
	    						<div class="privew-img">
	    							<a href="/pages/product-details.html"><img src="<%=require('../assets/imgs/test/goods01.jpg')%>"/></a>
	    						</div>
	    						<div class="spec-scroll">
	    							<span class="prev">&lt;</span>
	    							<div class="sku-wrap">
										<ul>
											<li>
												<a class="active">
													<img width="25" height="25" src="//img13.360buyimg.com/n9/jfs/t17674/330/786006421/174444/15c0c319/5aa63f10N2d89730e.jpg">
												</a>
											</li>
										</ul>
									</div>
	    							<span class="next">&gt;</span>
	    						</div>
	    					</div>
					        <div class="item-inner">
					          	<div class="item-price">￥45</div>
					          	<div class="item-title">拜耳Bayer女性多种复合维生素50片</div>
					        </div>
	    				</div>
	    			</li>
	    			<li class="list-item">
	    				<div class="item-content">
	    					<div class="item-media">
	    						<div class="privew-img">
	    							<a href="/pages/product-details.html"><img src="<%=require('../assets/imgs/test/goods01.jpg')%>"/></a>
	    						</div>
	    						<div class="spec-scroll">
	    							<span class="prev">&lt;</span>
	    							<div class="sku-wrap">
										<ul>
											<li>
												<a class="active">
													<img width="25" height="25" src="//img13.360buyimg.com/n9/jfs/t17674/330/786006421/174444/15c0c319/5aa63f10N2d89730e.jpg">
												</a>
											</li>
										</ul>
									</div>
	    							<span class="next">&gt;</span>
	    						</div>
	    					</div>
					        <div class="item-inner">
					          	<div class="item-price">￥45</div>
					          	<div class="item-title">拜耳Bayer女性多种复合维生素50片</div>
					        </div>
	    				</div>
	    			</li>
	    			<li class="list-item">
	    				<div class="item-content">
	    					<div class="item-media">
	    						<div class="privew-img">
	    							<a><img src="<%=require('../assets/imgs/test/goods01.jpg')%>"/></a>
	    						</div>
	    						<div class="spec-scroll">
	    							<span class="prev">&lt;</span>
	    							<div class="sku-wrap">
										<ul>
											<li>
												<a class="active">
													<img width="25" height="25" src="//img13.360buyimg.com/n9/jfs/t17674/330/786006421/174444/15c0c319/5aa63f10N2d89730e.jpg">
												</a>
											</li>
										</ul>
									</div>
	    							<span class="next">&gt;</span>
	    						</div>
	    					</div>
					        <div class="item-inner">
					          	<div class="item-price">￥45</div>
					          	<div class="item-title">拜耳Bayer女性多种复合维生素50片</div>
					        </div>
	    				</div>
	    			</li>
	    		</ul>
	    	</div>
	    	<%= require('../includes/footer.tpl') %>
	    </div>
	</body>
</html>
